<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>你好，世界</title>
    <link rel="stylesheet" th:href="@{/layui/css/layui.css}">
    <link rel="stylesheet" th:href="@{/metropolis/login.css}">

</head>
<body>

<div class="main">
    一个index页面
    <shiro:guest>你没有登陆</shiro:guest>
    <shiro:authenticated>你验证通过</shiro:authenticated>
    <shiro:principal>权限</shiro:principal>
    <shiro:user></shiro:user>
    <!--<div shiro:hasRole="scott">你是scott</div>-->
    <!--<div shiro:hasRole="admin">你是admin</div>-->
    <!--<div shiro:hasRole="user:add">有添加权限</div>-->
    <!--<div shiro:hasRole="user:create">有添加权限</div>-->
</div>
<script th:src="@{/layui/layui.js}"></script>
</body>
</html>